@{
    ViewBag.Title = "Home Page";
}


<div ng-controller="personCtrl as ctrl">

    <div class="row">
        <div class="col-md-10">
            <h2>Personen</h2>
        </div>
        <div class="col-md-2">
            <a ng-click="ctrl.AddNewUser()" class="btn btn-default btn-sm">New</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>
    <div ng-if="ctrl.locals.showNewUser" class="row">
        <div class="form-group">
            <label>Name</label>
            <input ng-model="ctrl.locals.newUserModel.Name" type="text" class="form-control" placeholder="Name eingeben">
        </div>
        <div class="form-group">
            <label>Passwort</label>
            <input ng-model="ctrl.locals.newUserModel.Passwort" type="password" class="form-control" placeholder="Passwort eingeben">
        </div>
        <div class="form-group">
            <label>Ist Aktiv</label>
            <div class="checkbox">
                <label>
                    <input ng-model="ctrl.locals.newUserModel.IsAktiv" type="checkbox">
                </label>
            </div>
        </div>
        <button ng-click="ctrl.CreateUser()" type="button" class="btn btn-default">Speichern</button>
    </div>
    <div class="row">
        <div class="col-md-1">
            <a ng-click="ctrl.Search()" class="btn btn-default">Suchen</a>
        </div>
        <div class="col-md-offset-2 col-md-2">
            <input ng-model="ctrl.tblFilter" type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Passwort</th>
                    <th>Ist Aktiv</th>
                    <th>Erstellt</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="row in ctrl.locals.searchResult | filter:ctrl.tblFilter">
                    <td ng-bind="row.Name|uppercase"></td>
                    <td ng-bind="::row.Passwort"></td>
                    <td ng-bind="row.IsAktiv" ng-class="{'success': row.IsAktiv, 'danger': !row.IsAktiv}"></td>
                    <td ng-bind="row.Erstellt"></td>
                </tr>
                <tr ng-repeat-end>
                    <td>
                        <span ng-bind="row.Name"> </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>