
@{
    ViewBag.Title = "JQueryCalls";
}

<div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                JQuery Calls
            </h3>
        </div>
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a id="typeScriptCalls" class="btn btn-default btn-block">Test TypeScript Service Calls</a>
        </div>
        <div class="col-md-3 col-md-offset-6">
            <a id="javaScriptCalls" class="btn btn-default btn-block">Test JavaScript Service Calls</a>
        </div>
        <div class="col-md-12">
            <br/>
            <p class="text-center">
                <strong>Please open the Chrome developer Console to see the service Calls and returned Objects.</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Datei Upload Tests für jQuery</h3>
            <p>The IIS tries to store the uploaded files in the diretory: "C:\Temp\"</p>
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="file" class="form-control input-sm" id="fuTypeScript" />
        </div>
        <div class="col-md-3">
            <a id="uploadFileTypeScript" class="btn btn-sm btn-default btn-block">Test FileUpload TypeScript</a>
        </div>
        <div class="col-md-3">
            <input type="file" class="form-control input-sm" id="fujavaScript" />
        </div>
        <div class="col-md-3">
            <a id="uploadFileJavaScript" class="btn btn-sm btn-default btn-block">Test FileUpload JavaScript</a>
        </div>
    </div>
</div>