
@{
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <h2>TestView</h2>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Squad</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Wuschel</td>
                </tr>
            </tbody>
        </table>  
    </div>
</div>

